.home {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.book_list {
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: first baseline;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
  /* border: 1px solid brown; */
}

